html{
    background-color: black;

}
div{
    height: 50%;
    width: 50%;
    margin-left:25% ;
}
img{
    border: 5px solid white;
    padding-left :0px;
    margin: 10px;
    width: 100%;
}

h1{
    padding-left: 50px;
    margin: 5px;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;

}
p{
    font-size: 12px;
    margin: 10px;
    padding-left: 50px;
    text-align: center;
    color: aliceblue;
    font-family: cursive;


}